<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/style.css">
    {% block styles %}{% endblock %}
    <script src="./js/require.js" data-main="{% block jsEntryPoint %}./js/index{% endblock %}"></script>
    <title>{% block title %}{{ title }}{% endblock %}</title>

</head>
<body>
<div id="wrapper">
    {% block header %}
        {% include './modules/_header.twig' with {header: includes.header} %}
    {% endblock %}
    <section id="main">
        {% block content %}
            111111111111

        {% endblock %}
    </section>
    {% block footer %}
        {% include './modules/_footer.twig' with {footer: includes.shmooter} %}
    {% endblock %}

</div>
</body>
</html>