.hero-section {
  display: flex;
  height: 100vh;
  &__left {
    max-width: 450px;
    min-width: 350px;
    background: #3283c1;
    position: relative;
  }
  &__right {
    flex-grow: 1;
    min-width: 574px;
    background: #e2ecf6;
  }
  .list {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate3d(50%, -50%, 0);
    perspective: 1000px;
    &__box {
      width: 100%;
      min-width: 250px;
      position: relative;
      background: #fff;
      border-radius: 15px;
      align-items: center;
      display: flex;
      justify-content: center;
      transform: rotateY(-90deg) translateZ(500px);
      transform-origin: 0 50%;
      animation: box1 3.5s ease-out forwards;
      &:not(:first-child){
        position: absolute;
        left: 0;
        top: 0;

      }
      &:after {
        content: '';
        display: block;
        padding-top: calc(100% - 2px);
      }
    }

    .box-second{
      animation-name: box2;
    }
    .box-third{
      animation-name: box3;
    }
  }
}

@keyframes box1 {
  14%{
    transform: rotateY(0) translateZ(0);
  }
  42%{
    transform: rotateY(0) translateZ(0);
    opacity: 1;
  }
  56%{
    transform: scale(.7) translateX(-90px);
    opacity: .6;
  }
  84%{
    transform: scale(.7) translateX(-90px);
    opacity: .6;
  }
  100%{
    transform: scale(.4) translateX(-165px);
    opacity: .2;
  }
}
@keyframes box2 {
  0%{
    transform: rotateY(-90deg) translateZ(500px);
  }
  42%{
    transform: rotateY(-90deg) translateZ(500px);
  }
  56%{
    transform: rotateY(0) translateZ(0);
    opacity: 1;
  }
  84%{
    transform: rotateY(0) translateZ(0);
    opacity: 1;
  }
  100%{
    transform: scale(.7) translateX(-45px);
    opacity: .6;
  }
}
@keyframes box3 {
  0%{
    transform: rotateY(-90deg) translateZ(500px);
  }
  84%{
    transform: rotateY(-90deg) translateZ(500px);
  }
  100%{
    transform: rotateY(0) translateZ(0);
    opacity: 1;
  }
}